DATABASE_URL="postgresql://USER:PASSWORD@HOST-pooler.neon.tech/meditrack?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST.neon.tech/meditrack?sslmode=require&channel_binding=require"
